@model VillaBisutti.Delta.Core.Model.Prato
@{
	Layout = null;
}
<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.TipoPrato.Nome)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TipoPrato.Nome)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Nome)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Nome)
		</dd>

	</dl>
</div>
