@model VillaBisutti.Delta.Core.DTO.PratoSelecionado
@{
	Layout = null;
}
<div class="panel">
	@foreach (VillaBisutti.Delta.Core.Model.TipoPrato tipoPrato in Model.Itens.Keys)
	{
		<ul>
			<li>
				<p class="lead">@(tipoPrato.Nome)</p>
			</li>
			@foreach (VillaBisutti.Delta.Core.Model.PratoSelecionado prato in Model.Itens[tipoPrato])
			{
				<li>
					@(prato.Prato.Nome)
				</li>
			}
		</ul>
	}
</div>