@model VillaBisutti.Delta.Core.DTO.PratoSelecionado
@{
	Layout = null;
}
<div class="row">
	<p>
		Não está encontrando o prato que está procurando?
		<button class="btn">Copiar os pratos faltantes</button>
	</p>
</div>