@model VillaBisutti.Delta.Core.DTO.PratoSelecionado
@{
    Layout = null;
}
<script language="javascript" type="text/javascript">
	function DefinirDegustacao(PratoSelecionadoId, CardapioId) {

	}
</script>
@foreach (VillaBisutti.Delta.Core.Model.TipoPrato tipoPrato in Model.Itens.Keys)
{
    <ul class="panel col-md-6 list-group">
        <li class="list-group-item list-group-item-info"><h5>@(tipoPrato.Nome)</h5></li>
        @foreach (VillaBisutti.Delta.Core.Model.PratoSelecionado prato in Model.Itens[tipoPrato])
        {
            <li class="list-group-item">
                @(prato.Prato.Nome)
                <label class="pull-right">
                    <input name="switch-field-1" class="ace ace-switch ace-switch-6" type="checkbox" @(prato.Degustar ? "checked" : "")>
                    <span class="lbl"></span>
                </label>
            </li>
        }
    </ul>
}