@model VillaBisutti.Delta.Core.Model.PratoSelecionado
@{
    Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		AddStack("Degustação de prato definida", "<p>O Prato <strong class=\"text-uppercase\">@(Model.Prato.Nome)</strong>, por padrão, <strong>@(Model.Degustar ? "" : "NÃO")</strong> será degustado no cardápio <strong class=\"text-uppercase\">@(Model.Cardapio.Nome)</strong> com serviço <strong class=\"text-uppercase\">@(Model.TipoServico.Nome)</strong>.</p>");
	});
</script>

