@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		AddError("Pratos do evento", "Você está tentando adicionar a este evento mais um prato num tipo de prato que está completo...<h1 class=\"text-center\"><i class=\"fa fa-frown-o\"></i></h1>Aumente a quantidade para este tipo de prato ou remova outro antes de incluir este.");
	});
</script>
