@model IEnumerable<VillaBisutti.Delta.Core.Model.TipoItemDecoracao>
@{
	Layout = null;
}
@foreach (var item in Model)
{
<h5 class="bg-danger col-md-12">
	Defina o <strong>@Html.DisplayFor(modelItem => item.Nome)</strong>. Nenhum deste item foi selecionado até o momento.
</h5>
}
