@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MenuLateral{
<div data-sidebar-hover="true" data-sidebar-scroll="true" data-sidebar="true" id="sidebar" class="sidebar                  responsive menu-min">
    <ul class="nav nav-list nav-list-left">
        <li>
            <a href="#">
                <i class="menu-icon fa fa-group"></i>
                <span class="menu-text"> Usuários </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li>
            <a href="#">
                <i class="menu-icon glyphicon glyphicon-grain"></i>
                <span class="menu-text"> Decoração </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li>
            <a href="#">
                <i class="menu-icon glyphicon glyphicon-lamp"></i>
                <span class="menu-text"> Montagem </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="menu-icon glyphicon glyphicon-cutlery"></i>
                <span class="menu-text"> Gastronomia </span>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li>
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Cardápios</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Tipos de Pratos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Pratos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Pratos dos cardápios</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Cardápios Padrão</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="menu-icon fa fa-glass"></i>
                <span class="menu-text"> Bebidas </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li>
            <a href="#">
                <i class="menu-icon glyphicon glyphicon-ice-lolly-tasted"></i>
                <span class="menu-text"> Doces </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li>
            <a href="#">
                <i class="menu-icon glyphicon glyphicon-camera"></i>
                <span class="menu-text"> Foto e Vídeo </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li>
            <a href="#">
                <i class="menu-icon glyphicon glyphicon-headphones"></i>
                <span class="menu-text"> Luz e Som </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li>
            <a href="#">
                <i class="menu-icon glyphicon glyphicon-gift"></i>
                <span class="menu-text"> Outros Ítens </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li>
            <a href="#">
                <i class="menu-icon glyphicon glyphicon-duplicate"></i>
                <span class="menu-text"> Contrato e Aditivos </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li>
            <a href="#">
                <i class="menu-icon glyphicon glyphicon-blackboard"></i>
                <span class="menu-text"> Evento </span>
            </a>
            <b class="arrow"></b>
        </li>
        <b class="arrow"></b>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Roteiro Padrão</span>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li>
                    <a href="#">
                        <i class="menu-icon fa caret-right"></i>
                        <span class="menu-text">Aniversário</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon fa caret-right"></i>
                        <span class="menu-text">Barmitzva</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon fa caret-right"></i>
                        <span class="menu-text">Casamento</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon fa caret-right"></i>
                        <span class="menu-text">Corporativo</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon fa caret-right"></i>
                        <span class="menu-text">Debutante</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon fa caret-right"></i>
                        <span class="menu-text">Outro</span>
                    </a>
                </li>
            </ul>
        </li>
        <b class="arrow"></b>
        <li>
            <a href="#">
                <i class="menu-icon fa fa-align-justify" ></i>
                <span class="menu-text">Cerimonial padrão</span>
            </a>
            <b class="arrow"></b>
        </li>
    </ul>
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

</div>
}

@RenderBody()

@section scripts{
	@RenderSection("scripts", required: false)
	<script type="text/javascript">
		$(document).ready(function () {
			try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
			try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
		})
	</script>
}
