*{margin:0;padding:0; font-family: 'Arial'}

/* Projeto Vila Bisutti */

.brand-dark-brown{color: #522D1C !important}
.navbar, .navbar.navbar-collapse .navbar-container{background-color: #11100C !important}
.ace-nav>li.light-blue>a{background-color: #522D1C !important}
.no-skin .nav-list-left>li>a{background-color: #664131 !important; color:#FFF !important;}
.no-skin .sidebar-toggle{background-color: #94785c !important; color:#FFF !important;}
.no-skin .sidebar.menu-min .nav-list>li>a>.menu-text{background-color: #664131 !important}
.nav-list>li:before{background-color: #B79C81 !important}
.no-skin .sidebar.menu-min .nav-list>li>.arrow:after{border-right-color: #664131 !important}
.no-skin .nav-list>li .submenu>li>a:hover{background-color: #664131 !important}
.no-skin .nav-list>li .submenu>li>a{background-color: #FFFBF7 !important}
.no-skin .sidebar.menu-min .nav-list>li>.arrow-submenu:after{border-right-color: #FFFBF7 !important}
.user-info{top: 0px !important;}
.no-skin .navbar .navbar-toggle, .no-skin .navbar .navbar-toggle:hover{background-color: #94785C !important}
.login-layout .widget-box .widget-main{background-color: #DBC6B1 !important}
.login-layout .widget-box{background-color: #522D1C !important}
.field-validation-error { color: #CF2B2B; }
fieldset{border: 1px solid #522D1C !important}

/* Content Background */
.page-content{background:url(images/bg-logo-villa-bisutti.png); background-position: center center; background-repeat:no-repeat; background-attachment: fixed; }

/* Botões */

.btn-default { border: solid 1px #11100C !important; background-color: #522d1c !important; color: #fefefe !important; }
.btn-default:hover { background-color: #94785C !important; }
.btn-default:active, .btn-default:focus { background-color: #94785C !important; color: #FEFEFE !important;}
.btn.disabled, .btn-default.disabled, .btn[disabled], .btn-default[disabled], .disabled{background-color: #926856 !important}

/* Fixed Sidebar */
/*.no-skin .sidebar{position: fixed}*/
.sidebar{width: 230px}

/* Footer */
.footer .footer-inner .footer-content{position: fixed; bottom: 0}
.footer{background: #FEFEFE !important; width: 100%}
.footer-content {background-color: #FEFEFE !important;}