@using VillaBisutti.Delta
@model VillaBisutti.Delta.Core.DTO.TipoPratoPadrao
@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
}
@foreach (VillaBisutti.Delta.Core.Model.Cardapio item in Model.Itens.Keys)
{
	foreach (VillaBisutti.Delta.Core.Model.TipoServico tipoServico in Model.Itens[item].Keys)
	{
		<div class="col-md-4">
			<ul class="panel panel-info list-group">
				<li class="list-group-item list-group-item-info">
					@(item.Nome) <i class="ace-icon fa fa-angle-right"> </i> @(tipoServico.Nome)
				</li>
				@foreach (VillaBisutti.Delta.Core.Model.TipoPratoPadrao prato in Model.Itens[item][tipoServico])
				{
					<li class="list-group-item">
						@Html.Partial("../TipoPratoPadrao/Edit", prato)
					</li>
				}
			</ul>
		</div>
	}
}
