@model IEnumerable<VillaBisutti.Delta.Core.Model.Local>
@{
	Layout = null;
}
@foreach (VillaBisutti.Delta.Core.Model.Local item in Model)
{
	<li>
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-caret-right"></i>
			@(item.NomeCasa)
		</a>
		<b class="arrow"></b>
		@if (item.Eventos.Count() > 0)
		{
			<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
				@foreach (VillaBisutti.Delta.Core.Model.Evento e in item.Eventos)
				{
					<li>
						<a href="@Url.Action("Index", "Evento", new { Id = e.Id })">
							<i class="menu-icon fa fa-caret-right"></i>
							@(e.Data.ToString("dd/MM/yyyy")) - @(e.NomeHomenageados)
						</a>
						<b class="arrow"></b>
					</li>
				}
			</ul>
		}
	</li>
}
