@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemBoloDoceBemCasadoEvento>
@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$(".AutoModify").change(function () {
			var id = $(this).attr("name").split("_")[1];
			alert(id);
		});
	});
</script>
<a class="btn btn-xs btn-success col-md-12" href="@(Url.Action("Create", "ItemBoloDoceBemCasadoEvento", new { @id = ViewBag.EventoId }))">
	<i class="fa fa-refresh"></i>
	Redefinir todos
</a>
<div class="clearfix"></div>
<ul class="list-group">
	<li class="list-group-item list-group-item-info">Preencha somente os valores que a Villa Bisutti deverá fornecer</li>
	@foreach (VillaBisutti.Delta.Core.Model.ItemBoloDoceBemCasadoEvento item in Model)
	{
		<li class="list-group-item row clear-margin-vert clear-padding">
			<span class="pull-right col-md-4 clear-margin"><input type="number" name="Item_@item.Id" value="@item.Quantidade" id="Item_@item.Id" class="AutoModify col-xs-12" /></span>
			<span class="col-md-8 clear-margin" style="margin-top:7px">@(item.TipoItemBoloDoceBemCasado.Nome)</span>
		</li>
	}
</ul>
