@model VillaBisutti.Delta.Core.Model.TipoItemBoloDoceBemCasado

@{
	Layout = null;
	//ViewBag.Title = "Details";
}
<div>

	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Nome)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Nome)
		</dd>

	</dl>
</div>
