@model IEnumerable<VillaBisutti.Delta.Core.Model.TipoItemFotoVideo>
@{
	Layout = null;
}
@foreach (var item in Model) {
	<h5 class="text-danger"> Nenhum item de <strong>@Html.DisplayFor(modelItem => item.Nome)</strong> foi incluído neste evento, mas é necessário especificar ao menos 1.</h5>
}