@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemBebida>
@{
    Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$("body").off("change", "#ItemBebidaId");
		$("#ItemBebidaId").change(function () {
			if($("#ItemBebidaId option:selected").attr("data-show-hide") != "False")			{
				$(".deve-sumir").hide();
			} else {
				$(".deve-sumir").show();
			}
		});
	});
</script>
<select name="ItemBebidaId" id="ItemBebidaId" class="form-control">
<option value=""></option>
@foreach (var item in Model)
{
	<option value="@(item.Id)" data-show-hide="@(item.BloqueiaOutrasPropriedades)">@(item.Nome)</option>
}
</select>
<span class="field-validation-valid" data-valmsg-for="ItemBebidaId" data-valmsg-replace="true"></span>
