@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemSomIluminacao>
@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$("body").off("change", "#IteItemSomIluminacaoId");
		$("#ItemItemSomIluminacaoId").change(function () {
			if ($("#ItemItemSomIluminacaoId option:selected").attr("data-show-hide") != "False") {
				$(".deve-sumir").hide();
			} else {
				$(".deve-sumir").show();
			}
		});
	});
</script>
<select name="ItemItemSomIluminacaoId" id="ItemItemSomIluminacaoId" class="form-control" data-val="true" data-val-required="Preencha este campo">
	<option value=""></option>
	@foreach (var item in Model)
	{
		<option value="@(item.Id)" data-show-hide="@(item.BloqueiaOutrasPropriedades)">@(item.Nome)</option>
	}
</select>
<span class="field-validation-valid" data-valmsg-for="ItemItemSomIluminacaoId" data-valmsg-replace="true"></span>
