@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemSomIluminacao>
@{
	Layout = null;
}
<select name="ItemSomIluminacaoId" id="ItemSomIluminacaoId" class="form-control">
	<option value=""></option>
	@foreach (var item in Model)
	{
		<option value="@(item.Id)">@(item.Nome)</option>
	}
</select>
<span class="field-validation-valid" data-valmsg-for="ItemSomIluminacaoId" data-valmsg-replace="true"></span>
