@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemFotoVideo>

@{
    Layout = null;
}
<select name="ItemFotoVideoId" id="ItemFotoVideoId" class="form-control">
	<option value=""></option>
	@foreach (var item in Model)
	{
		<option value="@(item.Id)">@(item.Nome)</option>
	}
</select>
<span class="field-validation-valid" data-valmsg-for="ItemFotoVideoId" data-valmsg-replace="true"></span>