@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemMontagem>
@{
    Layout = null;
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("body").off("change", "#ItemMontagemId");
        $("#ItemMontagemId").change(function () {
            if ($("#ItemMontagemId option:selected").attr("data-show-hide") != "False") {
                $(".deve-sumir").hide();
                $("#ContratoAditivoId option:eq(1)").attr("selected", "selected");
                $("#FornecimentoBisutti").attr("checked", "checked");
                $("#FornecimentoBisutti").val("true");
                $("#ContratacaoBisutti").attr("checked", "checked");
                $("#ContratacaoBisutti").val("true");
			} else {
				$(".deve-sumir").show();
            }
        });
    });
</script>
<select name="ItemMontagemId" id="ItemMontagemId" class="form-control">
    <option value=""></option>
    @foreach (var item in Model)
    {
        <option value="@(item.Id)" data-show-hide="@(item.BloqueiaOutrasPropriedades)">@(item.Nome)</option>
    }
</select>
<span class="field-validation-valid" data-valmsg-for="ItemBebidaId" data-valmsg-replace="true"></span>