@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemMontagem>
@{
    Layout = null;
}
<select name="ItemMontagemId" id="ItemMontagemId" class="form-control">
    <option value=""/>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Nome</option>
    }
</select>
<span class="field-validation-valid" data-valmsg-for="ItemBebidaId" data-valmsg-replace="true"></span>