@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemBoloDoceBemCasado>
@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$("body").off("change", "#ItemBoloDoceBemCasadoId");
		$("#ItemBoloDoceBemCasadoId").change(function () {
			if ($("#ItemBoloDoceBemCasadoId option:selected").attr("data-show-hide") != "False") {
				$(".deve-sumir").hide();
				$("#ContratoAditivoId option:eq(1)").attr("selected", "selected");
				$("#FornecimentoBisutti").attr("checked", "checked");
				$("#FornecimentoBisutti").val("true");
				$("#ContratacaoBisutti").attr("checked", "checked");
				$("#ContratacaoBisutti").val("true");
			} else {
				$(".deve-sumir").show();
			}
		});
	});
</script>
<select name="ItemBoloDoceBemCasadoId" id="ItemBoloDoceBemCasadoId" class="form-control" data-val="true" data-val-required="Preencha este campo">
	<option value=""></option>
	@foreach (var item in Model)
	{
		<option value="@(item.Id)" data-show-hide="@(item.BloqueiaOutrasPropriedades)">@(item.Nome)</option>
	}
</select>
<span class="field-validation-valid" data-valmsg-for="ItemBoloDoceBemCasadoId" data-valmsg-replace="true"></span>
