@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemOutrosItens>
@{
    Layout = null;
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("body").off("change", "#ItemOutrosItensId");
        $("#ItemOutrosItensId").change(function () {
            if ($("#ItemOutrosItensId option:selected").attr("data-show-hide") != "False") {
                $(".deve-sumir").hide();
            } else {
                $(".deve-sumir").show();
            }
        });
    });
</script>
<select name="ItemOutrosItensId" id="ItemOutrosItensId" class="form-control">
    <option value=""></option>
    @foreach (var item in Model)
    {
        <option value="@(item.Id)" data-show-hide="@(item.BloqueiaOutrasPropriedades)">@(item.Nome)</option>
    }
</select>
<span class="field-validation-valid" data-valmsg-for="ItemOutrosItensId" data-valmsg-replace="true"></span>